*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    background-color: #fdfdfd;
    font-family: 'Roboto', sans-serif;
    font-size: 13pt;
}

/*NAV SECTION*/

nav{
    top: 0;
    display: flex;
    justify-content: space-around;
    position: sticky;
    background-color: #f2f7ff;
    color: #2B3444;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-weight: 600;
}
.home-div{
    color: #d05663;
    opacity: .9;
    margin-left: 15rem;
}
.home-div > div{
    background-color: #d05663;
    height: 6%;
    width: 50%;
}
.price-div{
    margin-left: -8rem;
}
.dash-div{
    margin-left: -8rem;
    margin-right: 15rem;
}
.reg-btn{
    color: #fdfdfd;
    background-color: #d05663;
    height: 2rem;
    width: 8rem;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.reg-btn:hover{
    background-color: red;
    text-decoration: ;
}

/*SECTION 1*/
svg{
    width: 100%;
    margin-top: -1rem;
}


.sec-1{
    background-color: #f2f7ff;
    display: flex;
    justify-content: space-between;
    height: 600px;
    padding-top: 2rem;


    /*background: radial-gradient(120% 120px at 50% -30px, #f2f7ff 75%, transparent 75%) no-repeat;*/



    /*border-bottom-left-radius: 50% 4rem;
    border-bottom-right-radius: 50% 4rem;*/


}
.sec-1-div-1{
    width: 50%;
    padding-left: 10rem;
}
.sec-1-div-1 > h1{
    font-size: 70px;
}
.spann{
    color: #2B3444;
    font-size: 5rem;
    font-weight: 800;
}
.span{
    color: #d05663;
    font-size: 5rem;
    font-weight: 800;    
}
.sec-1-div-1 > p{
    font-size: 20px;
    color: #2B3444;
    margin-top: -1.5rem;
    line-height: 2;
}
.create-store{
    color: #f2f7ff;
    background-color: #d05663;
    height: 3rem;
    width: 15rem;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.sec-1-div-2{
    width: 50%;
    padding-top: 1.5rem;
}
.sec-1-img{
    width: 75%;
    height: 26rem;
}

/*SECTION 2*/
.sec-2{
    padding-top: 5rem;
}
.how{
    text-align: center;
    color: #2B3444;
    margin-bottom: 7rem;
}
.underline{
    background-color: #2B3444;
    height: 0.2rem;
    width: 25rem;
    margin-left: 38%;
    margin-top: -1rem;
    border:3px solid;
        border-radius:0px 0px 140px 0px;
}
.num-div{
    display: flex;
    margin-right: 10%;
    margin-left: 10%;
    /*height: 10rem;*/
}
.num{
    font-size: 6rem;
    color: #d05663;
    width: 10%;
    opacity: .3;
}
.placard-1{
    width: 40%;
    /*padding: 1rem;*/
    border-radius: 10px;
    box-shadow: 0px 0px 10px #808080;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 10rem;
    height: 16rem;
}
.placard-1 > h4{
    text-align: center;
    font-size: 2rem;
    color: #2B3444;
}
.placard-1 > p{
    color: #808080;
    text-align: center;
    margin-top: -1.5rem;
    line-height: 2;
}
.placard-2{
    width: 50%;
}
.placard-2 > h4{
    color: black;
    text-align: left;
    font-size: 1.5rem;
}
.placard-2 > p{
    color: #808080;
    line-height: 2;
}

/*SECTION 3*/
.sec-3{
    margin-top: 10rem;
    background-color: #f2f7ff;
    padding-top: 5rem;
}
.store-options{
    display: flex;
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 5rem;
    justify-content: space-around;
}
.store-box{
    width: 25%;
}
.store-box > h5{
    color: #2B3444;
    font-size: 1.5rem;
}
.store-box > p{
    color: #808080;
    font-size: 1rem;
    line-height: 1.8;
}